<!DOCTYPE html>
<html>
<head>
  <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <%= render "shared/header" %>
    </nav>
  </div>
</head>
<body>
<div id="main-content">
  <%= month_calendar events: @meetings do |date, meetings| %>
      <%= date %>

      <% meetings.each do |meeting| %>
          <div>
            <%= meeting.title %>
          </div>
      <% end %>
  <% end %>
</div>