<!DOCTYPE html>
<html>
<head>
  <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <%= render "shared/header" %>
    </nav>
  </div>
</head>
<body>
<div id="main-content">
  <div id='calendar'></div>
</div>