// Place all the styles related to the event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.simple-calendar{
  width: 70%;
  margin-left: 10px;
}
.event_panel{
  width: 25%;
  float: right;
  margin-right: 10px;
  margin-top: 20px;
}