// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  width: 85%;
  float: left;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
li {
  width: 15%;
  float: left;
  margin-left: 2%;
  text-align: center;
}
li:first-child {
  margin-left: 0;
}
#main-content{
  margin-top: 100px;
  .changing_panel{
    margin-top: -40px;
    margin-left: 200px;
    width: 58.33333333%;
  }
  .currency_panel{
    width: 25%;
    float: right;
    .nbu{
      margin-top: -30px;
    }
  }
}
#login{
  margin-top: 10px;
  margin-right: -1500px;
}
#rg_but{
  margin-left: 180px;
}
#calendar{
  max-width: 900px;
  margin-left: 15px;
  .fc-toolbar {
    text-align: center;
  }
}
#charge_count{
  color: #ffffff;
  margin-top: -40px;
}