<!DOCTYPE html>
<html>
<head>
  <title>Financemanager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<%= yield %>
<body>


</body>
</html>
